body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #d2d2d2;
  margin: 0;
  padding: 50px;
}

h1 {
  display: inline-block; /* כדי שהרקע יתאים לגודל התוכן */
  background-color: #ffffff; /* צבע רקע שאתה בוחר */
  padding: 8px 16px; /* ריווח פנימי */
  border-radius: 8px; /* פינות מעוגלות (לא חובה) */
  color: #2c3e50; /* צבע טקסט */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* צל עדין */
  margin: auto;
}

.header-container {
  margin-bottom: 30px; /* ריווח בין הכותרת לכפתורים */
}

button {
  padding: 12px 24px;
  margin: 10px;
  background-color: #0077cc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #4da8e8;
  transform: scale(1.07);
}

button:active {
  transform: scale(0.97);
}

.buttons-container {
   margin-bottom: 30px; 
}